/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    border-radius: 10px;
    background: #000; // without a background or border applied you won't be able to see if its rounded
}

.withgap {
   margin-right:1%;
 }

 #padding {
    padding-top: 10px;
}
