<div class= 'container'>
  <form action="/tags" method="post">
    <div class="form-group">
      <label>Add a tag:</label>
      <input type="text" class="form-control" id="tag" name="tag" placeholder="example dinner"><br>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
