<div class= 'container'>
  <form action="/recipes" method="post">
    <div class="form-group">
      <label>Add a recipe:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="example pancakes"><br>

      <label>Rank this recipe:</label>
      <input type="text" class="form-control" id="ranking" name="ranking" placeholder="rank by number or leave blank">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
